{{ define "main" }}

    {{ $id_tabs := (printf "node-tabs-%s" ((.File.UniqueID) | default "")) }}

    <div class="section py-3 py-md-4">
      <div class="container">
        <ul class="nav nav-tabs mb-3" id="{{ ($id_tabs) }}" data-ext-fn="ext-node-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button title='{{ (i18n "home") }}' class="nav-link active" id="tab-main-home" data-bs-toggle="tab" data-bs-target="#tab-pane-main-home" type="button" role="tab" aria-controls="tab-pane-main-home" aria-selected="true">
              <i class="fas fa-home fa-fw"></i>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button title='{{ (i18n "packages") }}' class="nav-link" id="tab-main-packages" data-bs-toggle="tab" data-bs-target="#tab-pane-main-packages" type="button" role="tab" aria-controls="tab-pane-main-packages" aria-selected="false">
              <i class="fas fa-cubes fa-fw"></i>
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane show active" id="tab-pane-main-home" role="tabpanel" aria-labelledby="tab-main-home" tabindex="0">
            <div class="node-body">{{ (.Content) }}</div>
          </div>
          <div class="tab-pane" id="tab-pane-main-packages" role="tabpanel" aria-labelledby="tab-main-packages" tabindex="0">
              {{ (partial "module/php/packages" .) }}
          </div>
        </div>
      </div>
    </div>

{{ end }}


